extends layout

block content
  h1= title
  p Welcome to #{title}
  input(type='button', onclick="location.href='/signup';", value='Sign Up')
  br
  input(type='button', onclick="location.href='/signin';", value='Sign in')
